#piano-wrap {
  background-color:#000;
  border-bottom-left-radius:0.6rem;
  border-bottom-right-radius:0.6rem;
  margin:2rem auto 0 auto;
}

#controls {
  background-color:#222;
  background:linear-gradient(#000, #000 2%, #222 98%, #333);
  border:1px solid #000;
  margin:auto;
  position:relative;
}

.knob-control {
  position:absolute;
  text-align:center;
  user-select:none;
  .label {
    color:#ccc;
    font-size:0.7rem;
  }
  .control {
    background-color:#444;
    border-radius:50%;
    box-shadow:0 -0.2rem 0.1rem 0.05rem rgba(255,255,255,0.1) inset,
      0 0.2rem 0.1rem 0.05rem rgba(0,0,0,0.1) inset;
    margin-top:20%;
  }
  .knob {
    border-radius:50%;
    position:absolute;
    &::after {
      background-color:#a8d8f8;
      border-radius:50%;
      bottom:10%;
      box-shadow:0 0 0.4rem 0 darken(#a8d8f8, 10%);
      content:'';
      height:4px;
      left:50%;
      position:absolute;
      transform:translateX(-50%);
      width:4px;
    }
  }
  .ticks {
    position:absolute;
  }
  .tick {
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    &::after {
      content:'';
      background-color:rgba(255,255,255,0.2);
      height:7%;
      left:50%;
      position:absolute;
      top:-12%;
      width:1px;
      transition:all 50ms ease-in;
    }
    &.active::after {
      background-color:#a8d8f8;
      box-shadow:0 0 1px 0.05rem darken(#a8d8f8, 10%);
    }
  }
}

.slider {
  border:1px solid #000;
  position:absolute;
  user-select:none;
  .control {
    width:100%;
  }
  .groove {
    border:1px solid #000;
    border-radius:0.2rem;
    height:100%;
    margin:auto;
    width:20%;
  }
  .knob {
    background-color:#44b;
    border:1px solid #b44;
    left:50%;
    position:absolute;
    width:40%;
    transform:translateX(-50%);
  }
  .label {
    bottom:0;
    color:#484848;
    left:50%;
    font-size:0.7rem;
    position:absolute;
    transform:translateX(-50%);
  }
}

#piano {
  margin:auto;
  overflow-x:hidden;
  position:relative;
}

.key {
  background-color:#fff;
  border:1px solid #000;
  border-bottom-left-radius:0.5rem;
  border-bottom-right-radius:0.5rem;
  position:absolute;
  user-select:none;

  .label {
    bottom:5px;
    color:#bbb;
    font-weight:600;
    left:50%;
    position:absolute;
    transform:translateX(-50%);
  }

  &:not(.sharp).active {
    background-color:#f2f2f2;
    box-shadow:inset 0 0 15px rgba(0,0,0,0.5);
    margin-top:1px;
  }

  &.sharp {
    background-color:#000;
    box-shadow:0 2px 4px rgba(0,0,0,0.45);
    z-index:2;
    .sharp-top {
      background:linear-gradient(#000, #444);
      border-bottom-left-radius:0.5rem;
      border-bottom-right-radius:0.5rem;
      height:90%;
      margin:auto;
      width:90%;
    }
    &.active .sharp-top {
      height:95%;
    }
  }
}
