body, html {
  font-family: 'Helvetica-neue',helvetica,sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

* {
  box-sizing: border-box; }

#piano-wrap {
  background-color: #000;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  margin: 2rem auto 0 auto; }

#controls {
  background-color: #222;
  background: linear-gradient(#000, #000 2%, #222 98%, #333);
  border: 1px solid #000;
  margin: auto;
  position: relative; }

.ctrl-panel {
  display: inline-block;
  height: 100%;
  vertical-align: top; }
  .ctrl-panel:not(:first-child) {
    border-left: 1px solid #333; }
  .ctrl-panel:not(:last-child) {
    border-right: 1px solid #111; }

#ctrl-cont {
  padding: 10px 10px 0 10px; }
  #ctrl-cont .lfo-rate {
    position: relative;
    top: 30px; }
  #ctrl-cont .lfo-noise {
    position: relative;
    top: 60px; }

#ctrl-osc {
  padding: 10px 10px 0 10px;
  width: 25%; }

#ctrl-mixer {
  padding: 22px 20px 0 20px;
  width: 30%; }
  #ctrl-mixer .ctrl-row-label-lg {
    position: relative;
    top: 126px; }

#ctrl-mod {
  padding: 10px 0 0 30px;
  position: relative;
  width: 33%; }
  #ctrl-mod .filter-switch {
    left: -23px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 46px; }
    #ctrl-mod .filter-switch .ctrl-row-label-sm {
      margin-bottom: 0.2rem; }
  #ctrl-mod .filter-2 {
    margin-top: 40px; }
  #ctrl-mod .ctrl-row-label-lg {
    position: relative;
    top: 40px; }

.mt-15 {
  margin-top: 1.5rem; }

.mt-25 {
  margin-top: 2.5rem; }

.ctrl-row-label,
.ctrl-row-label-sm,
.ctrl-row-label-lg {
  color: #ccc;
  text-align: center;
  text-transform: uppercase; }

.ctrl-row-label {
  font-size: 0.7rem; }

.ctrl-row-label-sm {
  font-size: 0.5rem; }

.ctrl-row-label-lg {
  font-size: 1rem;
  font-weight: 300; }

.ctrl-row {
  display: flex;
  justify-content: space-between; }

.vol-1 .switch-wrap {
  position: relative;
  top: 32px; }

.noise {
  height: 0px;
  left: 94px;
  position: relative;
  top: 12px; }
  .noise .switch-wrap.on {
    position: relative;
    top: 18px; }
  .noise .switch-wrap.type {
    position: relative;
    top: -4px; }
  .noise .pot {
    top: -13px; }
    .noise .pot .label {
      margin-left: -7px; }

.vol-2 {
  position: relative;
  top: 46px; }
  .vol-2 .switch-wrap {
    position: relative;
    top: 24px; }

.vol-3 {
  position: relative;
  top: 90px; }
  .vol-3 .switch-wrap {
    position: relative;
    top: 24px; }

.switch-wrap {
  display: inline-block;
  vertical-align: top; }
  .switch-wrap .switch-line {
    background-color: #fff;
    display: inline-block;
    height: 1px;
    position: relative;
    top: -16px;
    width: 20px; }
  .switch-wrap .switch {
    display: inline-block; }
  .switch-wrap.switch-left .switch-line {
    margin-right: 5px; }
  .switch-wrap.switch-right .switch-line {
    margin-left: 5px; }

/* Switch.jsx */
.switch {
  position: relative; }
  .switch .sq {
    display: inline-block;
    height: 100%; }
  .switch .sq-1 {
    background-color: #802101;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    width: 3%; }
  .switch .sq-2 {
    background: linear-gradient(to left, #fd561d 70%, #fd6936);
    width: 47%; }
  .switch .sq-3 {
    background: linear-gradient(to left, #e53c02 70%, #cc3502);
    width: 35%; }
  .switch .sq-4 {
    background: linear-gradient(to left, #fd561d 70%, #fd7c50);
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    width: 15%; }
  .switch.blue .sq-1 {
    background-color: #468591; }
  .switch.blue .sq-2 {
    background: linear-gradient(to left, #9fc9d1 70%, #b0d3d9); }
  .switch.blue .sq-3 {
    background: linear-gradient(to left, #7db6c0 70%, #6bacb8); }
  .switch.blue .sq-4 {
    background: linear-gradient(to left, #9fc9d1 70%, #c1dce2); }
  .switch .label {
    color: #777;
    font-size: 0.5rem;
    text-transform: uppercase; }
    .switch .label.label-on {
      text-align: right;
      width: 100%; }
  .switch .label-left {
    color: #a8d8f8;
    text-shadow: 0px 0px 1px #d7edfc; }
  .switch .labels .label:not(.label-on) {
    display: inline-block;
    margin-top: 0.2rem;
    text-align: center; }
    .switch .labels .label:not(.label-on).label-left {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .switch .labels .label:not(.label-on).label-right {
      -webkit-transform: translateX(30%);
      -moz-transform: translateX(30%);
      -ms-transform: translateX(30%);
      transform: translateX(30%); }
  .switch.vertical .label {
    margin: 0;
    text-align: center; }
    .switch.vertical .label.label-top {
      color: #a8d8f8;
      text-shadow: 0px 0px 1px #d7edfc; }
  .switch.vertical .rocker {
    margin: 1rem 0; }
  .switch.vertical.on .label-top {
    color: #777;
    text-shadow: none; }
  .switch.vertical.on .label-bottom {
    color: #a8d8f8;
    text-shadow: 0px 0px 1px #d7edfc; }
  .switch.vertical .rocker {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .switch.on .rocker {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .switch.on .label-left {
    color: #777;
    text-shadow: none; }
  .switch.on .label-right {
    color: #a8d8f8;
    text-shadow: 0px 0px 1px #d7edfc; }
  .switch.on.vertical .rocker {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

/* Pot.jsx */
.pot {
  display: inline-block;
  margin: 0 15px;
  position: relative;
  user-select: none; }
  .pot .label {
    color: #ccc;
    font-size: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap; }
  .pot .knob-area {
    position: relative; }
  .pot .knob-outer {
    background-color: #444;
    border-radius: 50%;
    -webkit-box-shadow: 0 -0.2rem 0.1rem 0.05rem rgba(255, 255, 255, 0.1) inset, 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -0.2rem 0.1rem 0.05rem rgba(255, 255, 255, 0.1) inset, 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2) inset;
    -ms-box-shadow: 0 -0.2rem 0.1rem 0.05rem rgba(255, 255, 255, 0.1) inset, 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 -0.2rem 0.1rem 0.05rem rgba(255, 255, 255, 0.1) inset, 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2) inset;
    position: relative; }
  .pot .marker {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    bottom: 0;
    height: 20%;
    width: 2px; }
    .pot .marker::before {
      /*background-color:#fff;
      content:'';
      height:100%;
      position:absolute;
      width:3px;*/
      /*border-top:5px solid #a8d8f8;
      border-left:3px solid transparent;
      border-right:3px solid transparent;*/
      /*
      background-color:#a8d8f8;
      border-radius:50%;
      box-shadow:0 0 0.4rem 0 darken(#a8d8f8, 10%);
      content:'';
      height:3px;
      left:-1.5px;
      position:absolute;
      width:3px;*/ }
  .pot .ticks {
    position: absolute; }
  .pot .tick {
    max-width: 3px;
    position: absolute;
    text-align: center;
    /*&.active::before {
      background-color:#a8d8f8;
      box-shadow:0 0 1px 0.05rem darken(#a8d8f8, 10%);
    }*/ }
    .pot .tick::before {
      background-color: #555;
      bottom: 0;
      content: '';
      height: 20%;
      left: 0;
      margin: auto;
      position: absolute;
      width: inherit; }
    .pot .tick .tick-label {
      bottom: -0.9rem;
      color: #bbb;
      font-family: sans-serif;
      font-size: 0.5rem;
      left: 50%;
      position: absolute;
      text-transform: uppercase;
      transform: translateX(-50%); }
  .pot:not(.wave) .tick::before {
    bottom: -2px;
    height: 25%; }

.knob-control {
  display: inline-block;
  margin: 0 1rem;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: top; }
  .knob-control .label {
    color: #ccc;
    font-size: 0.7rem; }
  .knob-control .control {
    background-color: #444;
    border-radius: 50%;
    box-shadow: 0 -0.2rem 0.1rem 0.05rem rgba(255, 255, 255, 0.1) inset, 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.1) inset;
    margin-top: 20%; }
  .knob-control .knob {
    border-radius: 50%;
    position: absolute; }
    .knob-control .knob::after {
      background-color: #a8d8f8;
      border-radius: 50%;
      bottom: 10%;
      box-shadow: 0 0 0.4rem 0 #79c3f4;
      content: '';
      height: 4px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 4px; }
  .knob-control .ticks {
    position: absolute; }
  .knob-control .tick {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
    .knob-control .tick::after {
      content: '';
      background-color: rgba(255, 255, 255, 0.2);
      height: 7%;
      left: 50%;
      position: absolute;
      top: -12%;
      width: 1px;
      transition: all 50ms ease-in; }
    .knob-control .tick.active::after {
      background-color: #a8d8f8;
      box-shadow: 0 0 1px 0.05rem #79c3f4; }

.slider {
  border: 1px solid #000;
  position: absolute;
  user-select: none; }
  .slider .control {
    width: 100%; }
  .slider .groove {
    border: 1px solid #000;
    border-radius: 0.2rem;
    height: 100%;
    margin: auto;
    width: 20%; }
  .slider .knob {
    background-color: #44b;
    border: 1px solid #b44;
    left: 50%;
    position: absolute;
    width: 40%;
    transform: translateX(-50%); }
  .slider .label {
    bottom: 0;
    color: #484848;
    left: 50%;
    font-size: 0.7rem;
    position: absolute;
    transform: translateX(-50%); }

#piano {
  margin: auto;
  overflow-x: hidden;
  position: relative; }

.key {
  background-color: #fff;
  border: 1px solid #000;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  user-select: none; }
  .key .label {
    bottom: 5px;
    color: #bbb;
    font-weight: 600;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); }
  .key:not(.sharp).active {
    background-color: #f2f2f2;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 1px; }
  .key.sharp {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
    z-index: 2; }
    .key.sharp .sharp-top {
      background: linear-gradient(#000, #444);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      height: 90%;
      margin: auto;
      width: 90%; }
    .key.sharp.active .sharp-top {
      height: 95%; }

/*# sourceMappingURL=style.css.map */
